#about_resume { 
    padding-left:20px;
    padding-right:20px;
    float:right;
}

#highlights {
    overflow-y: scroll;
    height:500px;
    width: auto;
    border-radius: 20px;
    background-image: linear-gradient(#28a74538, #28a74621, rgba(0,255,48,0.02));
}

#highlight_date {
    font-weight: bold;
}

#highlights_list {
    padding-top: 15px;
    padding-right: 15px;
}

#highlights-heading {
    padding-top: 20px;
    padding-left: 15px;
}

#social-media{
    margin-bottom: 5px;
}

#image-div{
    grid-column: 1;grid-row: 1;
}

#image-tag{
    max-width: 100%;height: auto;
}

#desc-style{
    padding-right: 100px;
}

#button-margin{
    margin: 3px;
}