<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio - Asad Mahmood</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/resume.min.css') }}" rel="stylesheet">
    <style>
        .btn-primary,
        .btn-primary:active,
        .btn-primary:visited {
            background-color: #2b882e !important;
            border-color: #2b882e;
        }

        .btn-primary:hover {
            background-color: #1b561d !important;
            border-color: #1b561d;
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
        }

        .carousel-indicators li {
            background-color: #10994c;
            background-color: rgba(1, 70, 7, 0.25);
        }

        .carousel-indicators .active {
            background-color: #0c4419;
        }

        .carousel-control-next-icon {
            filter: invert(1);
        }

        .btn:focus, .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }

    </style>
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Asad Mahmood</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
             src="{{ url_for('static',filename = about_data['profile_picture']) }}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#publications">PUBLICATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#projects">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">SKILLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#bibliography">PAPERS BIB.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">EDUCATION</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link js-scroll-trigger" href="#courses">COURSES</a>-->
            <!--            </li>-->

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link js-scroll-trigger" href="#recommendations">RECOMMENDATIONS</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link js-scroll-trigger" href="#awards">INTERESTS</a>-->
            <!--            </li>-->
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h1 class="mb-5">{{about_data['first_name']}}
                            <span class="text-primary">{{about_data['last_name']}}</span>
                        </h1>
                        <div class="lead mb-5">
                            <a href="mailto:amahmood1@uiowa.com"> <i class="fas fa-envelope"></i>
                                {{about_data['email_address']}}</a> <a
                                href="{{ url_for('static',filename = about_data['resume_path']) }}"
                                style="padding-left:20px;padding-right:20px;float:right;"
                                class="btn btn-primary" role="button">Resume</a><br>
                            <i class="fas fa-phone-alt"></i> {{about_data['mobile_number']}} <br>
                            <i class="fas fa-map-marker-alt"></i> {{about_data['address']}}


                        </div>
                        {{about_data['description']|safe}}
                        <div class="social-icons">
                            <a href="{{about_data['linkedIn']}}">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="{{about_data['Github']}}">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="{{about_data['Twitter']}}">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="{{about_data['Medium']}}">
                                <i class="fab fa-medium"></i>
                            </a>
                            <!--                <a href="https://www.kaggle.com/asad1m9a9h6mood">-->
                            <!--                    <i class="fab fa-kaggle"></i>-->
                            <!--                </a>-->
                            <!--                <a href="https://stackoverflow.com/users/6277130/asad-mahmood">-->
                            <!--                    <i class="fab fa-stack-overflow"></i>-->
                            <!--                </a>-->

                        </div>
                    </div>
                    <div class="col">

                        <div>
                            <h3 class="text-primary"> Highlights
                            </h3>
                        </div>
                        <br>
                        <div class="entry-content"
                             style="overflow-y: scroll; height:500px; width: auto; background-image: linear-gradient(rgba(255,255,0,0), rgba(0,133,29,0.29), rgba(0,255,48,0.02));">
                            <ul>
                                {%for i in range(0, about_data["highlights_length"])%}
                                {% for key, value in about_data["highlights"][i].items() %}
                                <li><span class="text-primary" style="font-weight: bold;">{{key}}: </span>{{value}}</li>
                                {% endfor %}
                                {%endfor%}

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publications">
        <div class="w-100">
            <div class="container">
                <div id="demo1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        {%for i in range(0, publications_data["total_papers"])%}
                        {% if i == 0 %}
                        <li data-target="#demo1" data-slide-to="0" class="active"></li>
                        {% else %}
                        <li data-target="#demo1" data-slide-to="{{ i }}"></li>
                        {% endif %}
                        {%endfor%}

                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h3 class="mb-0">{{ publications_data['papers'][0]['name'] }}
                                (<span class="text-primary">{{ publications_data['papers'][0]['conference_year'] }}</span>)
                            </h3>
                            <p class="lead mb-5">
                                {%for j in range(0, publications_data['papers'][0]['total_authors'])%}
                                {% if 'Asad Mahmood' in publications_data['papers'][0]['authors'][j] %}
                                <span class="text-primary"><b> {{ publications_data['papers'][0]['authors'][j] }} </b></span>
                                {% else %}
                                {{ publications_data['papers'][0]['authors'][j] }}
                                {% endif %}
                                {%endfor%}
                            </p>

                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <div style="grid-column: 1;grid-row: 1;">
                                            <img src="{{ url_for('static',filename = publications_data['papers'][0]['image']) }}"
                                                 alt=""
                                                 style="max-width: 100%;height: auto;">
                                        </div>

                                        <div class="text-center">
                                            {%for j in range(0, publications_data['papers'][0]['total_buttons'])%}
                                            {% for key, value in publications_data['papers'][0]['buttons'][j].items() %}
                                            <a href="{{ value }}" class="btn btn-primary" role="button"> {{ key }} </a>
                                            {% endfor %}
                                            {%endfor%}


                                        </div>
                                    </div>
                                    <div class="col" style="padding-right: 100px">
                                        <p class="lead mb-5"> {{ publications_data['papers'][0]['description'] }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%for i in range(0, publications_data["total_papers"])%}
                        {% if i != 0 %}
                        <div class="carousel-item">
                            <h3 class="mb-0">{{ publications_data['papers'][i]['name'] }}
                                (<span class="text-primary">{{ publications_data['papers'][i]['conference_year'] }}</span>)
                            </h3>
                            <p class="lead mb-5">
                                {%for j in range(0, publications_data['papers'][i]['total_authors'])%}
                                {% if 'Asad Mahmood' in publications_data['papers'][i]['authors'][j] %}
                                <span class="text-primary"><b> {{ publications_data['papers'][i]['authors'][j] }} </b></span>
                                {% else %}
                                {{ publications_data['papers'][i]['authors'][j] }}
                                {% endif %}
                                {%endfor%}
                            </p>

                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <div style="grid-column: 1;grid-row: 1;">
                                            <img src="{{ url_for('static',filename = publications_data['papers'][i]['image']) }}"
                                                 alt=""
                                                 style="max-width: 100%;height: auto;">
                                        </div>

                                        <div class="text-center">
                                            {%for j in range(0, publications_data['papers'][i]['total_buttons'])%}
                                            {% for key, value in publications_data['papers'][i]['buttons'][j].items() %}
                                            <a href="{{ value }}" class="btn btn-primary" role="button"> {{ key }} </a>
                                            {% endfor %}
                                            {%endfor%}


                                        </div>
                                    </div>
                                    <div class="col" style="padding-right: 100px">
                                        <p class="lead mb-5"> {{ publications_data['papers'][i]['description'] }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {%endfor%}

                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
        <div class="w-100">

            <div class="container">


                <ul class="nav nav-pills">
                    <li class="active"><a class="btn btn-primary" data-toggle="pill" href="#data_science"
                                          style="margin-left: 5px">Data
                        Science</a></li>
                    <li><a class="btn btn-primary" data-toggle="pill" href="#web_dev" style="margin-left: 5px">Web
                        Development</a></li>
                    <li><a class="btn btn-primary" data-toggle="pill" href="#mob_dev" style="margin-left: 5px">Mobile
                        Development</a></li>
                </ul>

                <div class="tab-content">
                    <div id="data_science" class="tab-pane active">
                        <div id="demo3" class="carousel slide" style="margin-top: 50px;" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                {%for i in range(0, projects_data["total_data_science"])%}
                                {% if i == 0 %}
                                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                                {% else %}
                                <li data-target="#demo3" data-slide-to="{{ i }}"></li>
                                {% endif %}
                                {%endfor%}
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h3 class="mb-0">{{ projects_data["projects"]["data_science"][0]["name"] }}
                                    </h3>
                                    <p class="lead mb-5"> {{ projects_data["projects"]["data_science"][0]["short_desc"]
                                        }}</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div style="grid-column: 1;grid-row: 1;">
                                                    <img src="{{ url_for('static',filename = projects_data['projects']['data_science'][0]['image']) }}"
                                                         alt=""
                                                         style="max-width: 100%;height: auto;">
                                                </div>

                                                <div class="text-center">

                                                    {%for j in range(0,
                                                    projects_data['projects']['data_science'][0]['total_buttons'])%}
                                                    {% for key, value in
                                                    projects_data['projects']['data_science'][0]['buttons'][j].items()
                                                    %}
                                                    <a href="{{ value }}"
                                                       style="padding-left: 30px; padding-right: 30px"
                                                       class="btn btn-primary" role="button"> {{ key
                                                        }} </a>
                                                    {% endfor %}
                                                    {%endfor%}
                                                    <!--                                                    <a href="https://github.com/asad1996172/Predictive-Modelling-on-Stock-Prices"-->
                                                    <!--                                                       class="btn btn-primary"-->
                                                    <!--                                                       style="padding-left: 30px; padding-right: 30px"-->
                                                    <!--                                                       role="button">Code</a>-->


                                                </div>
                                            </div>
                                            <div class="col" style="padding-right: 100px">
                                                <p class="lead mb-5"> {{
                                                    projects_data["projects"]["data_science"][0]["description"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%for i in range(0, projects_data['total_data_science'])%}
                                {% if i != 0 %}
                                <div class="carousel-item">
                                    <h3 class="mb-0">{{ projects_data["projects"]["data_science"][i]["name"] }}
                                    </h3>
                                    <p class="lead mb-5"> {{ projects_data["projects"]["data_science"][i]["short_desc"]
                                        }}</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div style="grid-column: 1;grid-row: 1;">
                                                    <img src="{{ url_for('static',filename = projects_data['projects']['data_science'][i]['image']) }}"
                                                         alt=""
                                                         style="max-width: 100%;height: auto;">
                                                </div>

                                                <div class="text-center">

                                                    {%for j in range(0,
                                                    projects_data['projects']['data_science'][i]['total_buttons'])%}
                                                    {% for key, value in
                                                    projects_data['projects']['data_science'][i]['buttons'][j].items()
                                                    %}
                                                    <a href="{{ value }}"
                                                       style="padding-left: 30px; padding-right: 30px"
                                                       class="btn btn-primary" role="button"> {{ key
                                                        }} </a>
                                                    {% endfor %}
                                                    {%endfor%}
                                                    <!--                                                    <a href="https://github.com/asad1996172/Predictive-Modelling-on-Stock-Prices"-->
                                                    <!--                                                       class="btn btn-primary"-->
                                                    <!--                                                       style="padding-left: 30px; padding-right: 30px"-->
                                                    <!--                                                       role="button">Code</a>-->


                                                </div>
                                            </div>
                                            <div class="col" style="padding-right: 100px">
                                                <p class="lead mb-5"> {{
                                                    projects_data["projects"]["data_science"][i]["description"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {%endfor%}
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo3" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>
                    <div id="web_dev" class="tab-pane fade">
                        <div id="demo4" class="carousel slide" style="margin-top: 50px;" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                {%for i in range(0, projects_data["total_web_dev"])%}
                                {% if i == 0 %}
                                <li data-target="#demo4" data-slide-to="0" class="active"></li>
                                {% else %}
                                <li data-target="#demo4" data-slide-to="{{ i }}"></li>
                                {% endif %}
                                {%endfor%}
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h3 class="mb-0">{{ projects_data["projects"]["web_dev"][0]["name"] }}
                                    </h3>
                                    <p class="lead mb-5"> {{ projects_data["projects"]["web_dev"][0]["short_desc"]
                                        }}</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div style="grid-column: 1;grid-row: 1;">
                                                    <img src="{{ url_for('static',filename = projects_data['projects']['web_dev'][0]['image']) }}"
                                                         alt=""
                                                         style="max-width: 100%;height: auto;">
                                                </div>

                                                <div class="text-center">

                                                    {%for j in range(0,
                                                    projects_data['projects']['web_dev'][0]['total_buttons'])%}
                                                    {% for key, value in
                                                    projects_data['projects']['web_dev'][0]['buttons'][j].items()
                                                    %}
                                                    <a href="{{ value }}"
                                                       style="padding-left: 30px; padding-right: 30px"
                                                       class="btn btn-primary" role="button"> {{ key
                                                        }} </a>
                                                    {% endfor %}
                                                    {%endfor%}
                                                    <!--                                                    <a href="https://github.com/asad1996172/Predictive-Modelling-on-Stock-Prices"-->
                                                    <!--                                                       class="btn btn-primary"-->
                                                    <!--                                                       style="padding-left: 30px; padding-right: 30px"-->
                                                    <!--                                                       role="button">Code</a>-->


                                                </div>
                                            </div>
                                            <div class="col" style="padding-right: 100px">
                                                <p class="lead mb-5"> {{
                                                    projects_data["projects"]["web_dev"][0]["description"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%for i in range(0, projects_data['total_web_dev'])%}
                                {% if i != 0 %}
                                <div class="carousel-item">
                                    <h3 class="mb-0">{{ projects_data["projects"]["web_dev"][i]["name"] }}
                                    </h3>
                                    <p class="lead mb-5"> {{ projects_data["projects"]["web_dev"][i]["short_desc"]
                                        }}</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div style="grid-column: 1;grid-row: 1;">
                                                    <img src="{{ url_for('static',filename = projects_data['projects']['web_dev'][i]['image']) }}"
                                                         alt=""
                                                         style="max-width: 100%;height: auto;">
                                                </div>

                                                <div class="text-center">

                                                    {%for j in range(0,
                                                    projects_data['projects']['web_dev'][i]['total_buttons'])%}
                                                    {% for key, value in
                                                    projects_data['projects']['web_dev'][i]['buttons'][j].items()
                                                    %}
                                                    <a href="{{ value }}"
                                                       style="padding-left: 30px; padding-right: 30px"
                                                       class="btn btn-primary" role="button"> {{ key
                                                        }} </a>
                                                    {% endfor %}
                                                    {%endfor%}
                                                    <!--                                                    <a href="https://github.com/asad1996172/Predictive-Modelling-on-Stock-Prices"-->
                                                    <!--                                                       class="btn btn-primary"-->
                                                    <!--                                                       style="padding-left: 30px; padding-right: 30px"-->
                                                    <!--                                                       role="button">Code</a>-->


                                                </div>
                                            </div>
                                            <div class="col" style="padding-right: 100px">
                                                <p class="lead mb-5"> {{
                                                    projects_data["projects"]["web_dev"][i]["description"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {%endfor%}
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo4" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo4" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>
                    <div id="mob_dev" class="tab-pane fade">
                        <div id="demo5" class="carousel slide" style="margin-top: 50px;" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                {%for i in range(0, projects_data["total_mob_dev"])%}
                                {% if i == 0 %}
                                <li data-target="#demo5" data-slide-to="0" class="active"></li>
                                {% else %}
                                <li data-target="#demo5" data-slide-to="{{ i }}"></li>
                                {% endif %}
                                {%endfor%}
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h3 class="mb-0">{{ projects_data["projects"]["mob_dev"][0]["name"] }}
                                    </h3>
                                    <p class="lead mb-5"> {{ projects_data["projects"]["mob_dev"][0]["short_desc"]
                                        }}</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div style="grid-column: 1;grid-row: 1;">
                                                    <img src="{{ url_for('static',filename = projects_data['projects']['mob_dev'][0]['image']) }}"
                                                         alt=""
                                                         style="max-width: 100%;height: auto;">
                                                </div>

                                                <div class="text-center">

                                                    {%for j in range(0,
                                                    projects_data['projects']['mob_dev'][0]['total_buttons'])%}
                                                    {% for key, value in
                                                    projects_data['projects']['mob_dev'][0]['buttons'][j].items()
                                                    %}
                                                    <a href="{{ value }}"
                                                       style="padding-left: 30px; padding-right: 30px"
                                                       class="btn btn-primary" role="button"> {{ key
                                                        }} </a>
                                                    {% endfor %}
                                                    {%endfor%}
                                                    <!--                                                    <a href="https://github.com/asad1996172/Predictive-Modelling-on-Stock-Prices"-->
                                                    <!--                                                       class="btn btn-primary"-->
                                                    <!--                                                       style="padding-left: 30px; padding-right: 30px"-->
                                                    <!--                                                       role="button">Code</a>-->


                                                </div>
                                            </div>
                                            <div class="col" style="padding-right: 100px">
                                                <p class="lead mb-5"> {{
                                                    projects_data["projects"]["mob_dev"][0]["description"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%for i in range(0, projects_data['total_mob_dev'])%}
                                {% if i != 0 %}
                                <div class="carousel-item">
                                    <h3 class="mb-0">{{ projects_data["projects"]["mob_dev"][i]["name"] }}
                                    </h3>
                                    <p class="lead mb-5"> {{ projects_data["projects"]["mob_dev"][i]["short_desc"]
                                        }}</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div style="grid-column: 1;grid-row: 1;">
                                                    <img src="{{ url_for('static',filename = projects_data['projects']['mob_dev'][i]['image']) }}"
                                                         alt=""
                                                         style="max-width: 100%;height: auto;">
                                                </div>

                                                <div class="text-center">

                                                    {%for j in range(0,
                                                    projects_data['projects']['mob_dev'][i]['total_buttons'])%}
                                                    {% for key, value in
                                                    projects_data['projects']['mob_dev'][i]['buttons'][j].items()
                                                    %}
                                                    <a href="{{ value }}"
                                                       style="padding-left: 30px; padding-right: 30px"
                                                       class="btn btn-primary" role="button"> {{ key
                                                        }} </a>
                                                    {% endfor %}
                                                    {%endfor%}
                                                    <!--                                                    <a href="https://github.com/asad1996172/Predictive-Modelling-on-Stock-Prices"-->
                                                    <!--                                                       class="btn btn-primary"-->
                                                    <!--                                                       style="padding-left: 30px; padding-right: 30px"-->
                                                    <!--                                                       role="button">Code</a>-->


                                                </div>
                                            </div>
                                            <div class="col" style="padding-right: 100px">
                                                <p class="lead mb-5"> {{
                                                    projects_data["projects"]["mob_dev"][i]["description"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {%endfor%}
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo5" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo5" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <div class="container">
                <h2 class="mb-5">Experience</h2>
                {%for i in range(0, experience_data["total_experiences"])%}
                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">{{ experience_data["experiences"][i]['job_title'] }}</h3>
                        <div class="subheading mb-3"><img src="{{ url_for('static',filename = experience_data['experiences'][i]['image']) }}" alt="" height="40px" width="40px"
                                                          style="max-width: 100%;height: auto;padding-bottom: 10px"> {{ experience_data["experiences"][i]['company'] }}
                        </div>
                        <p> {{ experience_data["experiences"][i]['description'] }} </p>
                        <ul>
                            {%for j in range(0, experience_data["experiences"][i]['total_projects'])%}
                            <li> {{ experience_data["experiences"][i]['projects'][j] }}
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">{{ experience_data["experiences"][i]['dates'] }}</span>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <div class="container">
                <h2 class="mb-5">Skills</h2>


                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="subheading mb-3" style="color: #0c4419">Programming Languages</div>
                            <ul class="fa-ul mb-0">
                                {%for i in range(0, skills_data["total_programming_languages"])%}
                                <li>
                                    <i class="fa-li fa fa-circle"></i>
                                    {{ skills_data["programming_languages"][i] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            <div class="subheading mb-3" style="color: #0c4419">Machine Learning Libraries</div>
                            <ul class="fa-ul mb-0">
                                {%for i in range(0, skills_data["total_ml_libs"])%}
                                <li>
                                    <i class="fa-li fa fa-circle"></i>
                                    {{ skills_data['ml_libs'][i] }}
                                </li>
                                {%endfor%}

                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="subheading mb-3" style="color: #0c4419">Web Frameworks</div>
                            <ul class="fa-ul mb-0">
                                {%for i in range(0, skills_data["total_web_frameworks"])%}
                                <li>
                                    <i class="fa-li fa fa-circle"></i>
                                    {{ skills_data['web_frameworks'][i] }}
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                        <div class="col">
                            <div class="subheading mb-3" style="color: #0c4419">Mobile Development</div>
                            <ul class="fa-ul mb-0">
                                {%for i in range(0, skills_data["total_mob_dev"])%}
                                <li>
                                    <i class="fa-li fa fa-circle"></i>
                                    {{ skills_data["mob_dev"][i] }}
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <p>Apart from these, I also have experience in <span style="color: #0c4419">Web Scraping</span>
                        using
                        selenium and <span style="color: #0c4419;"> Graphics Designing</span> using Adobe Tools.</p>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="bibliography">
        <div class="w-100">
            <div class="container">
                <h2 class="mb-1">Research Papers Bibliography</h2>
                {{ unique_tags|safe }}
                <br>
                <br>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>
                <table class="table table-bordered table-striped">
                    <thead style="background-color: #1b561d;color: white;">
                    <tr>
                        <th>Paper</th>
                        <th>Published</th>
                        <th>Year</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for key,value in papers_data.iterrows() %}
                    <tr>
                        <td>{{ value['paper_with_url']|safe }}</td>
                        <td>{{ value['Published'] }}</td>
                        <td>{{ value['Year'] }}</td>
                        <td>{{ value['colored_tags']|safe }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <div class="container">
                <h2 class="mb-5">Education</h2>
                {%for i in range(0, education_data["total_education"])%}
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0"><img src="{{ url_for('static',filename = education_data['education'][i]['image']) }}" alt="" height="40px" width="40px"
                                              style="max-width: 100%;height: auto;padding-bottom: 10px"> {{ education_data['education'][i]['institution'] }}</h3>
                        <div class="subheading mb-3">{{ education_data['education'][i]['degree'] }}</div>

                        <p>GPA: {{ education_data['education'][i]['cgpa'] }}</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">{{ education_data['education'][i]['dates'] }}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>

    <hr class="m-0">

    <!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="courses">-->
    <!--        <div class="w-100">-->
    <!--            <h3>The University of Iowa</h3>-->
    <!--            <a class="btn btn-primary" data-toggle="tooltip" style="color:white;margin-top: 5px"-->
    <!--               title="asdasdas dsad as das d as das d as d asd as d as d as das d as d sa das d as ds ad">Hover over-->
    <!--                me </a>-->
    <!--            </br>-->
    <!--            </br>-->


    <!--            <h3>National University of Computing and Emerging Science (FAST)</h3>-->
    <!--            <a class="btn btn-primary" data-toggle="tooltip" style="color:white;margin-top: 5px"-->
    <!--               title="asdasdas dsad as das d as das d as d asd as d as d as das d as d sa das d as ds ad">Hover over-->
    <!--                me </a>-->
    <!--            </br>-->
    <!--            </br>-->
    <!--            <h3>MOOCs</h3>-->
    <!--            <a class="btn btn-primary" data-toggle="tooltip" style="color:white;margin-top: 5px"-->
    <!--               title="asdasdas dsad as das d as das d as d asd as d as d as das d as d sa das d as ds ad">Hover over-->
    <!--                me </a>-->
    <!--            </br>-->
    <!--            </br>-->

    <!--        </div>-->
    <!--    </section>-->

    <!--    <hr class="m-0">-->

    <!--    -->

    <!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="recommendations">-->
    <!--        <div class="w-100">-->
    <!--            <h2 class="mb-5">Interests</h2>-->
    <!--            <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid-->
    <!--                skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free-->
    <!--                climbing, and kayaking.</p>-->
    <!--            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television-->
    <!--                shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology-->
    <!--                advancements in the front-end web development world.</p>-->
    <!--        </div>-->
    <!--    </section>-->

</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static',filename='js/resume.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>

</html>
